/* ContactList.css */
.contact-list {
    width: 50%;
    background-color: #1a1a1a; /* Fond sombre pour la liste */
    color: white; /* Texte en blanc */
    padding: 20px;
    overflow-y: auto; /* Défilement vertical si nécessaire */
    height: 100%; /* Hauteur entière */
    border-right: 2px solid white; /* Séparateur */
}

.search-input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #555;
    background-color: #333;
    color: white;
    font-size: 1rem;
}

.contact-item {
    padding: 10px;
    margin: 8px 0;
    background-color: #2c2c2c; /* Fond des éléments */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-item:hover {
    background-color: #ffd700; /* Changement au survol */
}
